/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: normal; 
}

.main_criacaoanuncio {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_criacaoanuncio {
  width: 90%;
  max-width: 700px;
  margin-top: 36px;
  text-align: left; 
}

/* título */
.main_criacaoanuncio h4 {
  color: #D44F00;
  margin-bottom: 20px; 
  letter-spacing: 1px;
  text-align: left;
  margin-left: 49px; 
  font-weight: normal;
}

/* Formulário */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.img-input {
  width: 100%;
  max-width: 620px;
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
  color: #D44F00;
}

.input-botao {
  position: relative;
  width: 100%;
  max-width: 620px;
}

.input-botao .texto-input {
  width: 100%;
  padding: 12px 52px 12px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
  color: #D44F00;
}

input::placeholder {
  color: #D44F00;
  opacity: 1;
}

/* Botão + */
.botao-mais {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: none;
  background: #FF5F00;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  padding: 0;
}

/* Pré-visualização */
.pre-visualizacao {
  width: 100%;
  max-width: 620px;
  height: 160px;
  border-radius: 10px;
  background: linear-gradient(135deg, #FF5F00 0%, #3D2451 64%, #00126A 100%);
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
  padding: 16px; 
  box-shadow: 0 6px 12px rgba(0,0,0,0.12);
}

.pre-visualizacao p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

/* Botões */
.botao-up-cn {
  width: 100%;
  max-width: 620px;
  display: flex;
  justify-content: center;
  gap: 170px; 
  margin-top: 8px;
}

button.cancel,
button.upload {
  background-color: #0a2b5f;
  color: white;
  border: none;
  padding: 10px 45px; 
  border-radius: 8px;
  font-size: 14px;
  font-weight: 550; 
  cursor: pointer;
  transition: 0.3s;
  min-width: 100px; 
}

button.cancel:hover,
button.upload:hover {
  opacity: 0.85;
}

/* Responsivo */
@media (max-width: 480px) {
  .btn-container {
    flex-direction: column;
    gap: 12px;
  }

  button.cancel,
  button.upload {
    width: 100%;
  }
}