body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: linear-grandient(90deg, #000080, #ff6600);
    padding: 10px 20px;
    color: white;

}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.logo span {
    color: #ff6600;
}

.container {
    padding: 30px 60px;
}

.upload-from {
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.full{
    width: 100%;
}

label {
    color: #cc5200;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
textarea {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}


